<div class="row">
  <div class="col md-12">
    <p-table [columns]="cols" [value]="employees" styleClass="ui-corner-all">
      <ng-template pTemplate="caption">
        <a
          style="color: aliceblue;"
          routerLink="/employees"
           [queryParams]="{ page: 10}">Recently Joined</a>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ col.type === this.dp ? col.type.transform(employee[col.field], col.dateFormat) : employee[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
