
<div class="row">
  <div class="col md-12">
    <h2>All Employees</h2>
    <p-table class="shadow" [columns]="cols" [value]="employees" [paginator]="true"  [rows]="10" >
      <ng-template pTemplate="caption">
        <a
          style="color: aliceblue;"
          routerLink="/home"
          [queryParams]="{ page:10 }">Employees</a>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <!--            {{employee[col.field]}}-->
            {{ col.type === this.dp ? col.type.transform(employee[col.field], col.dateFormat) : employee[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
